<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>¿QUIÉNES SOMOS?</h2>
                <p class="lead">Somos un grupo de profesionales desarrolladores de software con vasta experiencia trabajando con empresas, ayudándolas a crecer y cumplir sus metas. Hemos desarrollado múltiples proyectos de Software, Aplicaciones Web y Móviles que incluyen manejo de inventario, órdenes, e-commerce y consultorias.</p>
            </div>
        </div>
    </div>
</section>
